:root {
    --rm-tooltip-color-red: #f50057;
    --rm-tooltip-color-yellow: #f6bb42;
    --rm-tooltip-color-orange: #e9573f;
    --rm-tooltip-color-green: #01b245;
    --rm-tooltip-color-purple: #6c63ff;
    --rm-tooltip-color-blue: #405dff;
    --rm-tooltip-color-turqoise: #00b0ff;
    --rm-tooltip-color-cyan: #37bc9b;
    --rm-tooltip-color-gray: #3a3a3a;
    --rm-tooltip-color-white: #ffffff;
  
    --rm-tooltip-placement-arrow-offset: 24px;
  
    --rm-text-size: 13px;
    --rm-text-weight: 500;
    --rm-white-color-text: #3a3a3a;
  
    --rm-tooltip-padding: 7px 10px;
    --rm-tooltip-rounded-padding: 7px 16px;
    --rm-tooltip-border-radius: 10px;
    --rm-tooltip-box-shadow: 0px 0.8px 4.7px rgba(0, 0, 0, 0.007),
      0px 1.8px 10.8px rgba(0, 0, 0, 0.01), 0px 3.2px 18.8px rgba(0, 0, 0, 0.013),
      0px 5px 29.8px rgba(0, 0, 0, 0.015), 0px 7.7px 46px rgba(0, 0, 0, 0.017),
      0px 12.1px 71.8px rgba(0, 0, 0, 0.02), 0px 20px 119.1px rgba(0, 0, 0, 0.023),
      0px 40px 238px rgba(0, 0, 0, 0.03);
  }
  
  $tooltipColor: (
    red: (
      --rm-tooltip-color-red,
      --rm-tooltip-color-white
    ),
    yellow: (
      --rm-tooltip-color-yellow,
      --rm-tooltip-color-white
    ),
    orange: (
      --rm-tooltip-color-orange,
      --rm-tooltip-color-white
    ),
    green: (
      --rm-tooltip-color-green,
      --rm-tooltip-color-white
    ),
    purple: (
      --rm-tooltip-color-purple,
      --rm-tooltip-color-white
    ),
    blue: (
      --rm-tooltip-color-blue,
      --rm-tooltip-color-white
    ),
    turqoise: (
      --rm-tooltip-color-turqoise,
      --rm-tooltip-color-white
    ),
    cyan: (
      --rm-tooltip-color-cyan,
      --rm-tooltip-color-white
    ),
    gray: (
      --rm-tooltip-color-gray,
      --rm-tooltip-color-white
    ),
    white: (
      --rm-tooltip-color-white,
      --rm-white-color-text
    )
  );
  